<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.frontuari.process.VoidFiscalInvoiced"
         name="VoidFiscalInvoiced"
         point="org.adempiere.base.Process">
      <process
            class="org.frontuari.process.VoidFiscalInvoiced"
            priority="0">
      </process>
   </extension>
   <extension
         id="org.frontuari.process.Aging"
         name="Aging"
         point="org.adempiere.base.Process">
      <process
            class="org.frontuari.process.Aging"
            priority="0">
      </process>
   </extension>
   <extension
         id="org.frontuari.process.CommissionCalc"
         name="CommissionCalc"
         point="org.adempiere.base.Process">
      <process
            class="org.frontuari.process.CommissionCalc"
            priority="0">
      </process>
   </extension>
   <extension
         id="org.frontuari.process.ImportInventory"
         name="ImportInventory"
         point="org.adempiere.base.Process">
      <process
            class="org.frontuari.process.ImportInventory"
            priority="0">
      </process>
   </extension>
   <extension
         id="org.frontuari.process.CreateInputReclaim"
         name="CreateInputReclaim"
         point="org.adempiere.base.Process">
      <process
            class="org.frontuari.process.CreateInputReclaim"
            priority="0">
      </process>
   </extension>
   <extension
         id="org.frontuari.process.CreateOutputReclaim"
         name="CreateOutputReclaim"
         point="org.adempiere.base.Process">
      <process
            class="org.frontuari.process.CreateOutputReclaim"
            priority="0">
      </process>
   </extension>
   <extension
         id="org.frontuari.process.CreateDocFromReclaim"
         name="CreateDocFromReclaim"
         point="org.adempiere.base.Process">
      <process
            class="org.frontuari.process.CreateDocFromReclaim"
            priority="0">
      </process>
   </extension>
</plugin>
